*{margin:0; padding:0;
    box-sizing: border-box;}
    
    
    
    
    
    
    
    @media screen and (max-width : 770px){
        /* .secondcol{
            margin-top:-2vw;
            background-color: black;
        } */
    
       
    }
    
    
    @keyframes tcboxanimation{
        0%{border-color: black; }
        25%{border-color: blue;}
        50%{border-color: turquoise;}
        75%{border-color: brown;}
        100%{border-color: yellow;}
    
    
    }
    
    

    .secondcol{
        /* border: black solid 2px; */
       display: flex;
       flex-direction: row;
       margin-top: 0.5vw;
       height: 5vw;
    }
    
    .sc1{
        padding-left: 0.3vw;
        width: 11vw;
        margin-left: 0.5vw;
    }
    
    .sc2{
        
        font-size: 4.2vw;
        font-weight: bold;
        text-align: center;
        color: #5680e9;
        text-shadow: 1px 1px 3px black;
        margin-left: 3vw;
    }
    
    .srmlogoresponsive{
        padding-top: 4%;
        height:95% ;
        width:100%;
    }
    
    .thirdcol{
        margin-top: 0.5vw;
        /* border: red 2px solid; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #48a8d8;    
        height:1.75vw;
    }
    
    .thirdcol a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .tc1{
  
        padding-right: 0.2vw;
        margin-right: 0.2vw;
        margin-left: 2.5vw;
        margin-bottom: 0.5vw;
        height: 1.75vw;
        border-left: white solid 1px;
        border-right: white solid 1px;
        font-size: 1.3vw;
        color: white;
       
    
    }
    .tc1:hover{
        background-color: #1271a0;
        
    }
    .tc1 a{
        color:white;
    }
    /* .tc1 a:hover{
      color:black;
    } */
    
    .tc2{
        border-right: white solid 1px;
        padding-right: 0.2vw;
        margin-right: 0.2vw;
        font-size: 1.3vw;
        height: 1.75vw;
        border: black 1px solid;
        background-color: #1271a0;
        animation-name: tcboxanimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
         animation-direction: alternate; 
    }
    .tc2:hover{
        background-color: #1271a0; 
    }
    /* .tc2 a:hover{  
       color:black;
    } */
    .tc2:hover .dropdown{
        display: block;
    }
    
    
    
    .tc3{
        padding-right: 0.2vw;
        margin-right: 0.2vw;
        font-size: 1.3vw;
        border-right: white solid 1px;
        text-transform: uppercase;
        height: 1.75vw;
     
    }
    .tc3:hover{
        background-color: #1271a0; 
    }
    /* .tc3 a:hover{   
        color:black;
    } */
    .tc3:hover .dropdown{
        display: block;
    }
    
    .tc5{
        padding-right: 0.2vw;
        margin-right: 0.2vw;
        font-size: 1.3vw;
        border-right: white solid 1px;
        text-transform: uppercase;
        height: 1.75vw;
    }
    .tc5:hover{
        background-color: #1271a0; 
    }
    /* .tc5 a:hover{  
        color:black;
    } */
    .tc5:hover .dropdown{
        display: block;
    }
    
    
    .tc6{
        padding-right: 0.2vw;
        margin-right: 0.2vw;
        font-size: 1.3vw;
        border-right: white solid 1px;
        text-transform: uppercase;
        height: 1.75vw;
    }
    .tc6:hover{
        background-color: #1271a0; 
    }
    
    .tc6:hover .dropdown{
        display: block;
    }
    
    
    .dropdown{
        display: none;
        background-color: #90ccf4;
        margin-top:-0.05vw;
        width:fit-content;
        padding: 00.2vw;
        border: black 1px solid;
        border-top: none;
        border-radius: 5px 3px 3px 5px;
        position: absolute;
        z-index: 1;
        box-shadow: 0px 2px 3px 0px black;
        font-size: 1.2vw;
    }
    .dropdownn:hover{
        background-color: #1271a0; 
    }
    .dropdown a{
        display: block;
        color: white;
    }
    .dropdown a:hover{
        background-color: #48a2cf; 
    
    }
    
    
    .tc4{
        padding-right: 1vw;
        margin-right: 1vw;
        font-size: 1.2vw;
        margin-left: 20vw;
        display: inline;
       
    }
    .tc4 a:hover{
        color: rgb(240, 23, 23);
    }
    .tc4 a{
        color: rgb(20, 20, 70);
        text-decoration: underline;
    }   


    .maincontent{
      
        margin: 3vw 4vw 1vw 4vw;
        padding: 2vw;
        text-align: center;
        background-color: #f6f9fc;
        height: auto;
        box-shadow: 1px 1px 13px black;
    }    

.contentbox1{
      border: green  ;
}
.cb1text{
    font-size: 1.7vw;
}
.cb1tstyle1{ font-size: 2.6vw; color: red;}
.cb1tstyle2{font-size: 1.9vw; color: rgb(71, 82, 243);}
    
.contentbox2{
    border-top: 2px black solid;
    margin: 3vw 12vw 1vw 5vw;
    margin-left: 15%;
    border-left: none;
    text-align: center;
    background-color: #f6f9fc;
    /* overflow: auto; */
    height: auto;
    width: 60vw;
}


table th{
    position:sticky;
    top:0;
    z-index:1;
    border-top:0;
    background-color: #4CAF50;
}
table, th ,td{
    /* border: black 2px solid; */
    border-collapse: collapse;
    font-size: 1.3vw;
}
th{ 
    border: black 2px solid;
    padding: 1vw;
    color: white;
    font-weight: bold;
}
tr{
    height: 5vw;
    margin: 2vw;
}
tr:nth-child(1){    background-color: #4bbeff;}
tr:nth-child(2){    background-color: #4bbeff;}
tr:nth-child(3){    background-color: #f2f2f2;}
tr:nth-child(4){    background-color: #f2f2f2;}
tr:nth-child(5){    background-color: #4bbeff;}
tr:nth-child(6){    background-color: #4bbeff;}

td{
    border:solid 2px black;
    height: auto;
    margin:2vw;
    padding: 1.2vw;
    font-weight: 400;
    text-transform: uppercase;
}



.contentbox3{
    margin-top: 5vw;
    text-align: left;
    font-size: 5vw;
}
ul li {
    font-size: 1.5vw;
    list-style-type: none;
    padding: 0.8vw;
    /* background-image: url(/html_css/img/Announcementlogo.png);
    background-position: 200 200;
    background-size: 3.0rem 3.0rem;
    background-repeat: no-repeat; */
  }

  li:before { content: '\261B'; margin-left: -20px; margin-right: 10px; color: rgb(226, 64, 64); font-size: 2vw;}